.card {
   max-width: 350px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 20px;
   border: 2px solid black;


   button {
      padding: 10px;
      background-color: pink;
   }

   img {
      aspect-ratio: 1;
      width: 100%;
      object-fit: cover;
   }
}